<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
      <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

      <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">
      <script type="text/javascript" src = "/jsFiles/homePageHandler.js"> </script>
      <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container ">
            <a class="btn btn-primary" id="myaccount">My account
                <i class = "fa fa-user" style="font-size: medium"></i></a>
            <a class="btn btn-primary" style="align-content: right" id="logout" href="{{Url}}/br/user-home/logout">Logout
                <i class = "fa fa-sign-out" style="font-size: medium"></i></a>
        </div>


    </nav>


    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="mb-0 section-heading">Welcome !!</h1>
        <p class="text-primary">Check weather! Buy Some Intersting widgets from below all for free!!</p>
      </header>


        <h4 id = "city" class = "card-title">Weather Report</h4>
        <div class="row text-center" id ="weather-row">
            <!--//dynamic gets added;-->

        </div>


        <p class="lead" style="margin-top: 20px; margin-bottom: 20px">Select From Wide range of widgets!</p>

        <!-- Page Features -->
      <div class="row text-center" id ="main-row">
          <!--//dynamic gets added;-->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->

  </body>

</html>
